@import "tailwindcss";

::-webkit-scrollbar {
  width: 6px; 
}

::-webkit-scrollbar-track {
  background: #f0f0f0; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #b0b0b0; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #909090; 
}

