---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import Features from '../components/Features.astro';
import PilotUsers from '../components/PilotUsers.astro';
import Comparision from '../components/Comparision.astro';
import Platforms from '../components/Platforms.astro';
import Socials from "../components/Socials.astro";
export const prerender = false;
---

<Layout>
	<div class="flex flex-col justify-around px-8 md:px-20 xl:px-60">
		<Main />
		<Features />
	</div>
	<PilotUsers />
	<Comparision />
	<Socials />
	<Platforms />
	

</Layout>
