---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="flex flex-col justify-around px-8 md:px-20 xl:px-60 mt-20 space-y-6">
    <h1 class="text-4xl font-bold text-gray-900">Política de Privacidad</h1>
    <p class="text-lg text-gray-700"><strong>Última actualización:</strong> 18 de febrero de 2025</p>

    <h2 class="text-2xl font-semibold text-gray-900">1. Información General</h2>
    <p class="text-lg text-gray-700">
      NutriBaby se compromete a proteger la privacidad de sus usuarios. Actualmente, nuestra aplicación no recopila, almacena ni comparte información personal.
    </p>

    <h2 class="text-2xl font-semibold text-gray-900">2. Recopilación de Datos</h2>
    <p class="text-lg text-gray-700">
      NutriBaby no solicita ni almacena datos personales de los usuarios. No recopilamos información sobre el uso de la aplicación, ni empleamos cookies o herramientas de seguimiento.
    </p>

    <h2 class="text-2xl font-semibold text-gray-900">3. Compartición de Datos</h2>
    <p class="text-lg text-gray-700">
      No compartimos datos con terceros, ya que no recopilamos ninguna información personal.
    </p>

    <h2 class="text-2xl font-semibold text-gray-900">4. Seguridad</h2>
    <p class="text-lg text-gray-700">
      Aunque no almacenamos datos, nos comprometemos a ofrecer un entorno seguro para el uso de la aplicación.
    </p>

    <h2 class="text-2xl font-semibold text-gray-900">5. Cambios en esta Política</h2>
    <p class="text-lg text-gray-700">
      Si en el futuro recopilamos datos, actualizaremos esta política para reflejarlo. Se notificará a los usuarios de cualquier cambio significativo.
    </p>

    <h2 class="text-2xl font-semibold text-gray-900">6. Contacto</h2>
    <p class="text-lg text-gray-700">
	Si tienes alguna pregunta sobre esta política de privacidad, puedes contactarnos <a class="text-[#1D78AC] hover:underline" href="mailto:ispp.g8@gmail.com">aquí</a>.
    </p>
  </div>
</Layout>
