---

---

<footer class="bg-gray-100 text-gray-800 py-8 ">
    <div class="max-w-7xl mx-auto px-6 md:px-12 grid grid-cols-1 md:grid-cols-4 gap-8">
        
        <div>
            <h2 class="text-xl font-semibold">NutriBaby</h2>
            <p class="mt-2 text-sm">Ayudando a padres a cuidar a sus hijos con recomendaciones con evidencia científica</p>
        </div>

        <div>
            <h3 class="text-lg font-medium">Enlaces rápidos</h3>
            <ul class="mt-2 space-y-2">
                <li><a href="/#main" class="hover:underline">Inicio</a></li>
                <li><a href="/#features" class="hover:underline">Características</a></li>
                <li><a href="/#plans" class="hover:underline">Planes</a></li>
            </ul>
        </div>

        <div>
            <h3 class="text-lg font-medium">Legal</h3>
            <ul class="mt-2 space-y-2">
                <li><a href="#" class="hover:underline">Política de privacidad</a></li>
                <li><a href="#" class="hover:underline">Términos de servicio</a></li>
            </ul>
        </div>

        <div>
            <h3 class="text-lg font-medium">¿Quiénes somos?</h3>
            <ul class="mt-2 space-y-2">
				<li><a href="/team" class="hover:underline transition">Equipo</a></li>
				<li><a href="https://github.com/ISPP-G-8" class="hover:underline transition">Github</a></li>
            </ul>
        </div>
        
    </div>

    <div class="text-center mt-8 text-sm border-t border-gray-400 pt-4">
        &copy; 2025 NutriBaby. Todos los derechos reservados.
    </div>
</footer>
