---
const showModal: boolean = false;
const appEndpoint = import.meta.env.APP_ENDPOINT || "/";
---

<section class="pt-20 text-center sm:text-left">
    <h1 id="main" class="mb-8 text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-extrabold font-heading bg-gradient-to-r from-[#1D78AC] bg-cyan-400 text-transparent bg-clip-text">
        La aplicación para cuidar de tus hijos
    </h1>

	<div class="flex flex-col-reverse md:flex-row justify-between gap-8 my-12">
        <div>
            <p class="text-lg md:text-xl lg:text-2xl xl:text-3xl text-gray-800 ">
                Infantem es una aplicación con evidencia científica para ayudar a los padres en la fase previa a la alimentación complementaria.
            </p>
			<div class="flex justify-center gap-x-6">
                <a href=`${appEndpoint}/signin` id="login" class="mt-6 cursor-pointer text-lg md:text-xl font-bold text-white bg-[#1D78AC] px-6 py-3 rounded-2xl transition-color duration-300 transform hover:bg-[#154e6f]">
					Inicia sesión 
				</a>
				<a
                    href=`${appEndpoint}/signup`
                    id="join" 
                    class="mt-6 cursor-pointer text-lg md:text-xl font-bold text-[#1D78AC] bg-white border-solid border-2 border-[#1D78AC] px-6 py-3 rounded-2xl transition-colors duration-300 transform hover:bg-[#154e6f] hover:text-white hover:border-[#154e6f]"
                >
                    Únete ahora
                </a>
			</div>
        </div>

		<!-- <img class="rounded-2xl w-full shadow-lg md:max-w-md xl:max-w-xl" src="/main-photo.webp" alt="Main picture" />  -->
        <video autoplay muted loop playsinline class="rounded-2xl w-full shadow-lg sm:max-w-md lg:max-w-xl xl:max-w-3xl">
          <source src="/infantem_ad.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>

    </div>
</section>


