---

---

<header class="flex justify-between items-center px-8 lg:px-20 xl:px-60 h-20 bg-gray-100 shadow-md">

    <a href="/" class="text-2xl font-bold text-gray-800">Nutribaby</a>

	<nav id="menu" class="hidden flex-col absolute top-20 right-0 w-full items-end bg-gray-100 p-6 gap-y-4 shadow-md lg:flex lg:static lg:w-auto lg:p-0 lg:bg-transparent lg:shadow-none lg:flex-row lg:gap-0 lg:items-center space-x-6 text-gray-600 font-medium">
        <!-- <a href="/#main" class="hover:text-[#1D78AC] transition">Inicio</a> -->
        <a href="/#features" class="hover:text-[#1D78AC] transition">Características</a>
		<a href="/#pilot-users" class="hover:text-[#1D78AC] transition">Usuarios piloto</a>
		<a href="/#comparision" class="hover:text-[#1D78AC] transition">Ventajas</a>
		<a href="/#platforms" class="hover:text-[#1D78AC] transition">Plataformas</a>
        <!-- <a href="/#plans" class="hover:text-[#1D78AC]  transition">Planes</a> -->
        <a href="/team" class="hover:text-[#1D78AC]  transition">Equipo</a>
		
		<!-- TODO: IDK why this only work with de id login and not with download. Gotta change it. --> 
		<button id="login" class="cursor-pointer hover:bg-[#154e6f] text-white bg-[#1D78AC] px-4 py-2 rounded-xl transition">
			Descargar
		</button>
    </nav>
    <button id="menu-toggle" class="lg:hidden text-gray-600">
        ☰
    </button>
</header>


<script>
    const menuToggle = document.getElementById("menu-toggle") as HTMLButtonElement;
    const menu = document.getElementById("menu") as HTMLElement;

    if (menuToggle && menu) {
        menuToggle.addEventListener("click", () => {
            menu.classList.toggle("hidden"); 
            menu.classList.toggle("flex");
        });
	}
</script>
