---

---


<section id="pilot-users" class="py-12 mb-20 bg-[#1D78AC] text-white text-center">
  <div class="container mx-auto px-4">
    <h2 class="mb-8 text-2xl md:text-3xl lg:text-4xl font-bold font-heading">
      Únete a nosotros como usuario piloto
    </h2>
    <p class="mb-6 text-lg md:text-xl max-w-2xl mx-auto">
      Forma parte de nuestro programa piloto y ayuda a mejorar la experiencia de alimentación infantil. Tu feedback es clave para optimizar nuestras funcionalidades, desde las recomendaciones personalizadas hasta la interacción con especialistas.
    </p>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mb-10">
		<div class="flex flex-col items-center">
			<svg class="w-10 h-10" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
				<path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4l3 3"></path>
				<circle cx="12" cy="12" r="10"></circle>
			</svg>
			<h3 class="text-xl font-semibold mb-2">Descuento Exclusivo</h3>
			<p class="text-sm px-4">
				Disfruta de un 50% de descuento en el plan Premium al lanzamiento.
			</p>
	</div> 
	<div class="flex flex-col items-center">
		<svg class="w-10 h-10" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
			<path stroke-linecap="round" stroke-linejoin="round" d="M3 10l1.5 2M21 10l-1.5 2M5 15h14M12 3v2M12 19v2"></path>
		</svg>
        <h3 class="text-xl font-semibold mb-2">Soporte Personalizado</h3>
        <p class="text-sm px-4">
			Acceso exclusivo a un soporte especializado para resolver tus dudas.
        </p>
      </div>
      <div class="flex flex-col items-center">
			<svg class="w-10 h-10" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
				<path stroke-linecap="round" stroke-linejoin="round" d="M12 1l3 6 6 .5-4.5 4.5L18 19l-6-3-6 3 1.5-6.5L3 7.5l6-.5z"></path>
			</svg>
        <h3 class="text-xl font-semibold mb-2">Reconocimiento Especial</h3>
        <p class="text-sm px-4">
          Recibe la insignia "Usuario Piloto" como muestra de agradecimiento.
        </p>
      </div>
    </div>
    
  </div>
</section>
